BACKEND_CONTAINER_NAME=your_backend_container_name
# prod or stage
SPRING_PROFILES_ACTIVE=prod
# prod or staging
IMAGE_TAG=prod

# ===============================
# Application / Server
# ===============================
SERVER_PORT=8080

# ===============================
# PostgreSQL Datasource
# ===============================
POSTGRES_HOST=your_postgresql_host
POSTGRES_PORT=your_postgresql_port
POSTGRES_NAME=your_postgresql_name
POSTGRES_USERNAME=your_postgresql_username
POSTGRES_PASSWORD=your_postgresql_password

# ===============================
# Redis
# ===============================
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
REDIS_PASSWORD=your_redis_password
REDIS_DATABASE=0

# ===============================
# File Upload (Spring Multipart)
# ===============================
MAX_FILE_SIZE=10MB
MAX_REQUEST_SIZE=10MB

# ===============================
# JWT
# ===============================
JWT_ISSUER=your_issuer
JWT_SECRET_KEY=your_jwt_secret_key

# ===============================
# Group Account
# ===============================
GROUP_ACCOUNT_LINK=your_group_account_link
GROUP_ACCOUNT_NUMBER=your_group_account_number
GROUP_ACCOUNT_FEE=0
